@font-face {
    font-family: 'Gill Sans';
    src: url('GillSans-LightItalic.woff2') format('woff2'),
        url('GillSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

